[[ -f .envrc.private ]] && source_env .envrc.private

# Only add non private keys, private should go to `.envrc.private`
# Those should be added again in Gitlab CI variables if needed for builds
export XCODE_XIP_FILE=$HOME/Downloads/Xcode_12.2.xip
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export S3_BUCKET="downloads.dev.beamapp.co"
export AWS_DEFAULT_REGION="eu-west-3"
export PUBLIC_HOSTNAME="app.beamapp.co"
export SENTRY_HOSTNAME="o477543.ingest.sentry.io"
export SENTRY_PROJECT="beam-macos"
export SCHEME="Beam release"
export CERT_USERNAME="dev@beamapp.co"
export TEAM_ID="X87W5M786F"
export TEAM_NAME="Beam"
export APP_IDENTIFIER="co.beamapp.macos"
export PROVISION_NAME="DeveloperID MacOS"
export CERT_ID="M28FQCP36C"
export CERT_OWNER_NAME="Beam"
export XCODE_INSTALL_USER="dev@beamapp.co"
export XCODE_VERSION="12.4"
export XCODE_VERSION_FOR_MACOS_10="12.4"
export XCODE_VERSION_FOR_MACOS_11="13.1"
export RUBY_VERSION="2.7.2"
export FASTLANE_XCODEBUILD_SETTINGS_TIMEOUT=120
export BROWSING_TREE_URL="https://beam-python-paul.herokuapp.com/browsing-tree/"
export PUBLIC_API_EMBED_URL="https://api-proxy.beamapp.co/.netlify/functions/embed"
export PUBLIC_API_PUBLISH_URL="https://public.beamapp.co"
