[submodule "Extern/Sparkle"]
	path = Extern/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
	branch = 2.x
[submodule "Extern/libgit2"]
	path = Extern/libgit2
	url = https://github.com/libgit2/libgit2.git
