/* Light */
:root {
  --Beam-Embed-Background: #ffffffff;
  --Beam-Embed-Color: #393e47ff;
}

@media (prefers-color-scheme: dark) {
  /* Dark */
  :root {
      --Beam-Embed-Background: #1c1c1fff;
      --Beam-Embed-Color: #edededff;
  }
}
/* Override Reddit */
.embedly-card {
  display: inline-block;
}
.embedly-card-hug {
  margin: 0 !important;
}

.twitter-tweet {
  color: var(--Beam-Embed-Color);
  background-color: var(--Beam-Embed-Background);
}

.twitter-tweet-rendered {
  margin: 0 !important;
}

html, body, .twitter-tweet, .twitter-tweet-rendered, iframe {
  margin: 0 !important;
}

iframe {
  border: none;
  border-radius: 3px;
}

.resize-horizontal iframe {
  background: transparent;
  position: static;
  visibility: visible;
  display: block;
  flex-grow: 1;
}

.aspectRatio iframe {
  height: 100vh !important;
  width: 100vw !important;
}

.noAspectRatio.resize-both iframe {
  height: 100vh !important;
  width: 100vw !important;
}
